<!DOCTYPE html>

<html>
    <head>
        <title>Weather</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
        <p> Use this site to know the Weather</p>
        
        <form>
            <input placeholder="Location">
            <button>Search</button>
            <p id = "mes1"></p>
            <p id= "mes2"></p>
        </form>
        </div>
        {{>footer}}

        <script src='/js/test.js'></script>
    </body>
</html>